@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/MontserratRegular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat'), local('MontserratRegular'),
         url('../fonts/Montserrat/MontserratRegular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat/MontserratRegular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat/MontserratRegular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Montserrat/MontserratRegular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Montserrat/MontserratRegular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat/MontserratSemiBold.eot'); /* IE9 Compat Modes */
    src: local('Montserrat'), local('MontserratRegular'),
         url('../fonts/Montserrat/MontserratSemiBold.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat/MontserratSemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat/MontserratSemiBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Montserrat/MontserratSemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Montserrat/MontserratSemiBold.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat/MontserratBold.eot'); /* IE9 Compat Modes */
    src: local('Montserrat'), local('MontserratBold'),
         url('../fonts/Montserrat/MontserratBold.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat/MontserratBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat/MontserratBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Montserrat/MontserratBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Montserrat/MontserratBold.svg') format('svg'); /* Legacy iOS */
}